/* Text */
h1, h2, h3 , h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }
  p {
    font-family: 'Poppins', sans-serif;
  }
 /*Navigation*/

.jumbotron {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 300px 125px 125px;
    grid-template-areas:
        "logo navbar"
        "lead lead"
        "lead-Sub lead-Sub";
    margin: 0px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,012840+84,012840+84&0+0,0.9+100;TSW */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(1,40,64,0.76) 86%, rgba(1,40,64,0.9) 100%),url(../images-folder/ssne_kickoff.JPG); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 86%,rgba(1,40,64,0.9) 100%),url(../images-folder/ssne_kickoff.JPG); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 86%,rgba(1,40,64,0.9) 100%),url(../images-folder/ssne_kickoff.JPG); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6012840',GradientType=0 ); /* IE6-9 */   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;

}
#logo {
    grid-area: logo;
    display: flex;
    position: relative;
    transform: scale(.5);
    margin-left: -3%;
    justify-content: flex-start;
}
#logo :hover {
    transform: scale(1.25);
    transition: transform .3s;
}

.navbar-nav {
    display: flex;
    grid-area: navbar;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-right: 3%;
    margin-left: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    border-bottom: 3px solid transparent;
    list-style-type: none;
}

.nav-link {
    color: white !important;
    text-decoration: none;
    border-bottom: 5px solid transparent;
}

.nav-link a:hover {
    border-bottom: 5px solid #187AA5 !important;
    transition: 0.3s;
}
a:active {
    color: white;
    border-bottom: 5px solid #187AA5;
}

.lead {
    display: grid;
    margin-left: 8%;
    margin-right: 0 auto;
    grid-area: lead;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 85%;
    margin-top: 5%;
}
.lead-Sub {
    display: grid;
    grid-area: lead-Sub;
    margin-left: 8%;
    margin-right: 0 auto;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: white;
}

/*Problem & Solution Cards*/

.container-fluid {
    width: 100%;
    margin-left: 5%;
    margin-right: 0 auto;
    padding: 5%;
    flex-direction: row;
    border: none !important;
}
.problem {
    display: flex;
    justify-content: space-between;
    width: 85%;
    text-align: left;
    font-weight: 300;
    margin-top: 5%;
    margin-right: 0 auto;
    border: none !important;
}
.problem h2 {
    color: #187AA5;
}
.cardContainer {
    border: none !important;
}

.pandemic {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

/*Large Central Image*/

.jumbotron-central {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,012840+84,012840+84&0+0,0.9+100;TSW */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(1,40,64,0.76) 86%, rgba(1,40,64,0.9) 100%),url(../images-folder/ssne_kickoff.JPG); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 86%,rgba(1,40,64,0.9) 100%),url(../images-folder/ssne_kickoff.JPG); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 86%,rgba(1,40,64,0.9) 100%),url(../images-folder/ssne_kickoff.JPG); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6012840',GradientType=0 ); /* IE6-9 */   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    margin-left: 5%;
    margin-right: 5%;

}
.title {
    color: white;
    font-weight: 700px !important;
    align-items: start;
    justify-content: end;
}

/**Process**/

.affinityThemes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 550px;
    grid-template-areas:
        "themes themes themes";  
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 3%;
}

#themes {
    grid-area: themes;
    background-image: url(../images-folder/recess_common_themes.jpg);
    background-size: cover;
    background-position: center;
}
.recessPunTitle {
    grid-area: recessPun;
    margin-left: 15%;
    color: #187AA5;
    margin-top: 5%;
}
.recessPun {
    font-weight: 700;
    width: 75%;
}
#recessDescSubtitle {
    font-weight: 700;
    width: 75%;
}
#recessDescText {
    font-weight: 200px;
    width: 75%;
}

/*PROTOTYPES*/

.prototypes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    grid-gap: 3%;
    grid-template-areas:
        "sketches midfidelity highfidelity";
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 10%;
    margin-bottom: 5%;
}

#sketches {
    grid-area: sketches;
    background-image: url(../images-folder/recess_sketches.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 15%;
}

#midfidelity {
    grid-area: midfidelity;
    background-image: url(../images-folder/recess_midfi.jpg);
    background-size: cover;
    background-position: center;
    background-color: #187AA5;
    align-content: end;
    justify-content: end;
}

#highfidelity {
    grid-area: highfidelity;
    background-image: url(../images-folder/recess_highfi.jpg);
    background-size: cover;
    background-position: center;
    background-color: #187AA5;
    align-content: end;
    justify-content: end;
}
#sketchesTitle {
    font-weight: 700;
    color: black;
    font-size: 16px;
    text-align: right;
}

#sketchesText {
    font-weight: 300;
    color: black;
    font-size: 16px;
    text-align: right;

}

#midfiTitle {
    font-weight: 700;
    color: black;
    font-size: 16px;
    text-align: right;
}

#midfiText {
    font-weight: 300;
    color: black;
    font-size: 16px;
    text-align: right;
}

#highfiTitle {
    font-weight: 700;
    color: black;
    font-size: 16px;
    text-align: right;
}

#highfiText {
    font-weight: 300;
    color: black;
    font-size: 16px;
    text-align: right;
}

/**RESULTS OF CASE STUDY**/

.parksandRecTitle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    grid-template-areas: 
        "parksAndRec";
    margin-left: 55%;
    color: #187AA5;
    margin-right: 5%;
}

.results {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 300px 50px 50px;
    grid-template-areas:
        "resultsDesc appGrid"
        "linkPrototype appGrid"
        "linkCaseStudy appGrid";
    margin-left: 15%;
    grid-gap: 3%;
    margin-bottom: 5%;
    margin-right: 3%;
}

#appGrid {
    grid-area: appGrid;
    background-image: url(../images-folder/recess_grid.png);
    background-size: cover;
}

#resultsDesc {
    font-weight: 300px;
}

#linkPrototype {
    font-weight: 900;
    text-decoration: underline;
    border-color: none;
    border-style: none;
    background-color: transparent;
    text-align: left;
}

#linkCaseStudy {
    font-weight: 900;
    text-decoration: underline;
    border-color: none;
    border-style: none;
    background-color: transparent;
    text-align: left;

}
            
            
/*Footer*/
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 300px;
    grid-gap: 6%;
    grid-template-areas:
        "sayHello sayHello"
        "footerLeft footerRight";
    background-color: #187AA5;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
}
.sayHello {
    grid-area: sayHello;
    font-weight: 700px;
    color: #C1D959;
    margin-left: 9%;
    padding: 3%;
    margin-bottom: 5%;
}
.footerLeft {
    grid-area: footerLeft;
    margin-left: 25%;
    margin-top: 5%;
    color: white;
}

.footerRight {
    grid-area: footerRight;
    margin-top: 5%;
}
.team {
    font-weight: 700;
    color: white;
}
.designTeam {
    color: white;
    width: 500px;
}
.whitePrimary {
    font-weight: 200;
    border: 1.5px solid white;
    background-color: transparent;
    color: white;
    width: 200px;
}
/* Typography CSS */

h1 {
    font-size: 45px;
    margin: 0px 0px;
    font-weight: 700px;
    font-family: 'Poppins', sans-serif;
}
h2 {
    font-size: 35px;
    margin: 0px 0px;
    font-family: 'Poppins', sans-serif;
}
  
h3 {
    font-size: 25px;
    font-weight: 500;
    margin: 0px 0px;
    font-family: 'Poppins', sans-serif;
}
  
h4 {
    color: black;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
